@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChessApp</h1>
    <input type="button"
         value="New Game"
         onclick="location.href='Chess'" />
</div>
