html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.table-border {
    border: 2px solid black;
    border-collapse: collapse;
}


.piece {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
}

.centered {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.gray-bckgrnd-cell {
    width: 70px;
    height: 70px;
    background-color: lightgray;
}


.white-bckgrnd-cell {
    width: 70px;
    height: 70px;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 600px;
}

.list-container {
    overflow: auto;
    border: 1px solid black;
    height: 600px;
}

#moveList {
    list-style: none;
}

.newest-list-item {
    background-color: white;
    animation: newest-move 4s;
}


@keyframes newest-move {
    from {
        background-color: gray;
    }

    to {
        background-color: white;
    }
}